body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.numeric_textarea {
    text-align: right;
    width: 50px;
}

.option_black {
    background-color: white;
    color: black
}

.option_white {
    background-color: black;
    color: white
}

#credits {
    width: 40%;
    font-weight: bold;
    float: left;
}

#portrait {
    height: 30%;
    width: 60%;
    float: right;
}

#end_message {
}

.marquee_area {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

/* marquee item must be surrond <p> */
.marquee_area p {
    display: table-row;
}
