body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: Center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#input_form {
    float: left;
}

#input_form #numeric_textarea {
    text-align: right;
}

#credits {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    float: left;
}

#portrait {
    width: 50%;
    height: 50%;
    float: right;
}
