body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: Center center;
    background-attachment: fixed;
    background-size: cover;
}

#input_form {
    float: left;
}

#credits {
    width: 50%;
}

#portrait {
    width: 50%;
    height: 50%;
    float: right;
}
